/*----------------------------------------------------------------------------------------------------------------*\
	YETTI CSS RESET
\*----------------------------------------------------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, details,
div, dd, del, dl, dfn, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	vertical-align: baseline; 
} 

html {
	font-size: 100%;
    line-height: 1.5em;
}

/* ----- Typography ----- */
strong, b, mark {
	font-weight: bold; 
	font-style: inherit;
}

em, i, cite, q, address, dfn, var {
	font-style: italic; 
	font-weight: inherit;
}

del, s {
	text-decoration: line-through;
}

ins {
	border-bottom: 1px solid #ccc; 
	text-decoration: none;
}

pre, code, samp, kbd {
	font-family: monospace;
}

/* ----- HTML 5 ----- */
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

abbr[title], dfn[title] {
	cursor: help; 
	border-bottom: 1px dotted #ccc;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}

blockquote, q {
	quotes: "" "";
}

/* ----- Links ----- */
a, button, select {
	cursor: pointer;
}

input, textarea {
    cursor: text;
}

img {
	width: 100%;
	height: auto;
}

/* ----- Forms ----- */
input, select, option, optgroup, textarea {
	font: inherit;
}

input, select {
    border: 1px solid #ccc;
	vertical-align: middle;
}

/* ----- Tables ----- */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left; 
	font-weight: normal; 
	float: none !important;
}

table, th, td {
	vertical-align: middle;
}

/* ----- Other ----- */
hr {
	height: 1px; 
    margin: 20px 0; 
	border-top: 1px solid #ccc; 
	display: block;
}

.clear {
	float: none;
	clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}





/*----------------------------------------------------------------------------------------------------------------*\
	DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {   
	padding-top: 20px;
	
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f1f1f1 url("../images/noise.png") repeat;
	color: #555;
    
	position: relative;
}

h1, .h1 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	line-height: 1.2em;
	font-weight: normal;
}

h2, .h2 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	line-height: 1.2em;
	font-weight: normal;
}

h3, .h3 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
	line-height: 1.2em;
	font-weight: normal;
}

h4, .h4 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	line-height: 1.2em;
	font-weight: normal;
}

h5, .h5 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	font-weight: normal;
}

h6, .h6 {
    margin-bottom: 0;
	color: #3771A1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: normal;
}

p {
	margin-bottom: 15px;
}

a {
	color: #3771A1;
	text-decoration: none;
    
    -moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a:hover {
	color: #5193C9;
}

ul.padding {
	margin: 0px;
	margin-left: 15px;
	margin-bottom: 15px;
}





/*----------------------------------------------------------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------------------------------------------------------*/
label {
	margin-bottom: 5px;
	display: block;
	
	line-height: 1em;
}

input {
	width: 300px;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	
	line-height: 1em;
}

input:focus {
	border: 1px solid #3771A1;
}

form ul {
	list-style: none;
}

form a {
	font-size: 0.8em;
}

button {
	width: 150px;
	height: 30px;
	padding: 5px;
	border: 0;
	border-radius: 5px;
	
	background: #3771A1;
	
	color: #fff;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
	
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

button:hover {
	background: #5193C9;
}

.error input {
	border: 1px solid red;
	margin-bottom: 5px;
}

.errorMessage {
	margin-bottom: 15px;
	display: block;
	
	color: red;
}





/*----------------------------------------------------------------------------------------------------------------*\
	PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
	max-width: 1000px;
	min-width: 320px;
	padding: 10px;
	margin: 0 auto;
	
	position: relative;
}

.row {
	width: 100%;
}

.oneCol, .twoCol, .threeCol, .fourCol, .fiveCol, .sixCol, .sevenCol, .eightCol, .ninecCol, .tenCol, .elevenCol, .twelveCol {
	width: 100%;
}

.row:after {
	height: 0;
	display: block;
	content: "";
	visibility: hidden;
	clear: both;
}

.row .last {
	margin-right: 0 !important;
}





/*----------------------------------------------------------------------------------------------------------------*\
	HEADER
\*----------------------------------------------------------------------------------------------------------------*/
.header {
	margin-bottom: 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
	background: #575757 url("../images/noise.png") repeat;
}

.header .logo {
	width: 107px;
	margin: 0 auto;
	display: block;
}

.header .largeNumber {
	margin-bottom: 10px;
	
	color: #fff;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
}




/*----------------------------------------------------------------------------------------------------------------*\
	NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	list-style: none;
}

.nav li {
	margin-left: 20px;
	display: inline-block;
}

.nav a {
	border-bottom: 0px solid #fff;
	
	color: #fff;
	font-size: 1em;
	line-height: 1em;
	
	-moz-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

.nav a:hover {
	border-bottom: 2px solid #fff;
}





/*----------------------------------------------------------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------------------------------------------------------*/
.form {
	padding-top: 18%;
	
	text-align: center;
	
	position: relative;
}

.form img {
	position: absolute;
	
	top: 0;
	left: 0;
	
	z-index: 1;
}

.form label {
	padding-left: 5%;
	
	text-align: left;
	
	z-index: 2;
}

.form input {
	width: 90%;
	
	position: relative;
	
	z-index: 2;
}

.form button,
.form a {
	position: relative;
	
	z-index: 2;
}

.form .loginFail {
	margin-bottom: 15px;
	
	color: red;
}





/*----------------------------------------------------------------------------------------------------------------*\
	HOME
\*----------------------------------------------------------------------------------------------------------------*/
.banner {
	border: 1px solid #575757;
}





/*----------------------------------------------------------------------------------------------------------------*\
	HELP
\*----------------------------------------------------------------------------------------------------------------*/
.helpImage {
	border: 1px solid #575757;
}





/*----------------------------------------------------------------------------------------------------------------*\
	MESSAGES
\*----------------------------------------------------------------------------------------------------------------*/
.messageHistory h2,
.currentMessages h2  {
	margin-bottom: 10px;
}

.currentMessages ul:first-child  {
	margin-bottom: 10px;
}

.command {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.sendMessgeForm {
	text-align: center;
}

.sendMessgeForm input {
	width: 100%;
	margin-bottom: 5px;
}

.sendMessgeForm button {
	width: 95%;
	margin-bottom: 10px;
}

.messages {
    position: relative;
}

.messageGroup {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	
	overflow: hidden;
}

.date {
	font-size: 0.8em;
	font-style: italic;
}

.titleBar {
	padding: 5px 10px;
	
    -webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
    
    cursor: pointer;
    
    position: relative;
}

.titleBar h5 {
	font-size: 1em;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in;
}

.titleBar .icon {
	font-size: 1.3em;
	
	-webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
    
	position: absolute;
	top: 1px;
	right: 20px;
}

.messageGroup ul {
    list-style: none;
}

.messageGroup li {
	padding: 0px 10px;
}

.messageGroup li.you {
	background: #E3F2FF;
	
	color: #3771A1;
}

.messages .titleBar:hover, 
.messages .open .titleBar,
.messages .open .titleBar h5 {
	color: #fff;
	
    background: #3771A1;
}

.messages .titleBar:hover h5 {
	color: #fff;
}





/*----------------------------------------------------------------------------------------------------------------*\
	MEDIA QUERIES
\*----------------------------------------------------------------------------------------------------------------*/
/* 600px */
@media all and (min-width: 600px) {
    .oneCol, .twoCol, .threeCol, .fourCol, .fiveCol, .sixCol, .sevenCol, .eightCol, .nineCol, .tenCol, .elevenCol {
		margin-right: 2%;
		float: left;
	}

	.row .oneCol {
		width: 6.5%;
	}
	
	.row .twoCol {
		width: 15%;
	}
	
	.row .threeCol {
		width: 23.5%;
	}
	
	.row .fourCol {
		width: 32%;
	}
	
	.row .fiveCol {
		width: 40.5%;
	}
	
	.row .sixCol {
		width: 49%;
	}
	
	.row .sevenCol {
		width: 57.5%;
	}
	
	.row .eightCol {
		width: 66%;
	}
	
	.row .nineCol {
		width: 74.5%;
	}
	
	.row .tenCol {
		width: 83%;
	}
	
	.row .elevenCol {
		width: 91.5%;
	}
	
	.nav {
		margin-top: 40px;
		float: right;
	}
	
	.nav a {
		font-size: 1.3em;
	}
	
	.header .logo {
		width: 157px;
	}
	
	.header .largeNumber {
		padding-top: 35px;
	}
	
	.sendMessgeForm button {
		width: 28%;
		float: left;
	}
	
	.sendMessgeForm ul {
		width: 70%;
		display: block;
		float: left;
	}
	
	.titleBar h5 {
		font-size: 1.2em;
	}
}
